.cluster_center, .cluster_center svg {
  position: absolute;
  box-sizing: content-box;
}

.cluster_center svg {
  width: 100px;
  height: 100px;
  font: 10px sans-serif;
  animation-duration: 0.5s;
  animation-name: cluster_center_initial;
  animation-timing-function: cubic-bezier(.43,.81,.6,1.27);
  z-index: -1;
}

.cluster_center polygon {
  fill: red;
  stroke: black;
  stroke-width: 0.5px;
}

@keyframes cluster_center_highlight {
    from {transform: scale(1.0);}
    to {transform: scale(3.0);}
}

@keyframes cluster_center_unhighlight {
    from {transform: scale(3.0);}
    to {transform: scale(1.0);}
}

@keyframes cluster_center_initial {
    from {transform: scale(0.0);}
    to {transform: scale(1.0);}
}