.cluster_center, .cluster_center svg {
  position: absolute;
  box-sizing: content-box;
}

.cluster_center svg {
  width: 100px;
  height: 100px;
  font: 10px sans-serif;
  animation-duration: 0.5s;
  animation-name: cluster_center_initial;
  animation-timing-function: cubic-bezier(.43,.81,.6,1.27);
  z-index: -1;
}

.cluster_center polygon {
  stroke: black;
  stroke-width: 0.5px;
}

.cluster_center_marker {
}

@keyframes cluster_center_highlight {
    from {transform: scale(1.0);}
    to {transform: scale(3.0);}
}

@keyframes cluster_center_unhighlight {
    from {transform: scale(3.0);}
    to {transform: scale(1.0);}
}

@keyframes cluster_center_initial {
    from {transform: scale(0.0);}
    to {transform: scale(1.0);}
}

.bar {
  stroke: black;
  stroke-width: 0.5px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*
.x.axis path {
  display: none;
}*/

.month_1 {
  fill: rgb(46,164,220);
}

.month_2 {
  fill: rgb(57, 180, 188);
}

.month_3 {
  fill: rgb(68, 195, 156);
}

.month_4 {
  fill: rgb(78, 210, 125);
}

.month_5 {
  fill: rgb(89, 226, 92);
}

.month_6 {
  fill: rgb(100,242,61);
}

.month_7 {
  fill: rgb(140, 195, 56);
}

.month_8 {
  fill: rgb(179, 179, 51);
}

.month_9 {
  fill: rgb(220,102,46);
}

.month_10 {
  fill: rgb(176, 117, 89);
}

.month_11 {
  fill: rgb(133, 133, 133);
}

.month_12 {
  fill: rgb(89, 148, 176);
}