{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <script language="javascript">var STATIC_URL = "{% static "" %}";</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="{% static "css/fauxfb.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/markers.css" %}" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static "script/map.js" %}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "script/sidebar.js" %}"></script>

    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>

<div id="container" class="container-fluid">
    <div id="header">
        <div class="header_row">
        <form id="clustering_run_get_form" action="rest/clustering_run_get" class="form-inline" method="get">
            <div class="form-group">
                <select id="clustering_run_get_form_select" class="form-control">
                {% for run in cluster_runs %}
                 <option value="{{run.id}}">{{run.id}}: {{run.algorithm}}, "{{run.comment}}"</option>
                {% endfor %}
                </select>
                <input type="submit" value="Show" class="btn btn-primary">
            </div>
        </form>
        <script type="text/javascript">
        var s = $("#clustering_run_get_form_select");
        s[0][s[0].length - 1].setAttribute("selected",true);

        // Let's make the form more AJAX!
        $("#clustering_run_get_form").submit(function(event) {
            event.preventDefault();
            var $form = $(this), url = $form.attr("action");

            // Fire some AJAX!
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                data: {id: $("#clustering_run_get_form_select").val()}
            })
                .done(function(msg){
                    add_clustering_run_to_map(msg);
                });
        });
        </script>
        </div>
        <div class="header_row">
            <button id="show_all_button" onclick="show_all()" class="btn btn-warning">Reset view</button>
        </div>
    </div>

    <div id="canvas">
    </div>

    <div id="sidebar">
        <div id="sidebar_status">
        <p>Choose a cluster to display information.</p>
        </div>
        <div id="sidebar_stats">
            <div id="sidebar_stats_diagram">
                <svg class="sidebar_chart"></svg>
            </div>
            <div id="sidebar_stats_stats">
            </div>
        </div>
        <div id="sidebar_photos">
        </div>
    </div>

</div>

</body>

<script async type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=true&callback=createMap">
</script>
<script async type="text/javascript" src="http://d3js.org/d3.v2.js" onload="init_sidebar();"></script>

</html>